<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aviators - byaviators.com">

    <link rel="stylesheet" href="assets/js/rs-plugin/css/settings.css" type="text/css">
    <link rel="stylesheet" href="assets/js/rs-plugin/css/fullwidth.css" type="text/css">    

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
    <link href="assets/icons/pictopro-normal/style.css" rel="stylesheet" type="text/css">
    <link href="assets/icons/pictopro-outline/style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css" type="text/css">
    <link rel="stylesheet" href="assets/css/infine.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <!--[if lt IE 9]>
       	<link rel="stylesheet" id="ie8-css"  href="assets/css/ie8.css" type="text/css" media="all">
	<![endif]-->

	<title>Disruption Congress 2014 | StartupPlace</title>
</head>

<body data-spy="scroll" data-target="#main-navbar">

<div class="navigation">
    <div class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="logo">
                    <a href="#nav-header" class="roll"><img src="img/logo_disruptioncongress.png" alt="Disruption Congress"></a>
                </div><!-- /.logo -->

                <div class="navbar-collapse collapse" id="main-navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#nav-header">Inicio</a></li>
                        <li><a href="#nav-speakers">Expositores</a></li>
                        <li><a href="#nav-pricing">Precios</a></li>
                        <li><a href="#nav-testimonials">Apreciaciones</a></li>
                        <li><a href="#nav-contact">Contacto</a></li>
                    </ul>
                </div><!-- /.main-navigation -->
            </div><!-- /.container -->
          </div><!-- /.navbar-inner -->
    </div><!-- /.main-navigation -->
</div><!-- /.navigation -->

<div id="nav-header" class="header-wrapper">
    <div class="header">

        <div class="fullwidthbanner-container">         
           <div class="fullwidthbanner">
                <ul class="unstyled">
                    <li class="first-slide" data-transition="fade">
                        <img src="assets/pictures/background-conference-1.jpg" data-fullwidthcentering="on">



                        <div class="caption sfr caption-main" data-x="center" data-y="100" data-speed="900" data-start="0" data-easing="easeOutBack" fullwidthcentering="on">
                            <div class="header-item">
                                <div>
                                    <img src="img/logo_web.png">
                                    <h1>Startup Congress 2014</h1>
                                    <h4>Preparándonos para destilar tecnología</h4>
                                </div><!-- /.title -->
                            </div><!-- /.header-item -->

                            <div class="countdown countdown-container container">
                                <div class="clock row">
                                    <div class="clock-item clock-days countdown-time-value col-sm-3">
                                        <div class="wrap">
                                            <div class="inner">
                                                <div id="canvas-days" class="clock-canvas"></div>

                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="type-days type-time">DÍAS</p>
                                                </div><!-- /.text -->
                                            </div><!-- /.inner -->
                                        </div><!-- /.wrap -->
                                    </div><!-- /.clock-item -->

                                    <div class="clock-item clock-hours countdown-time-value col-sm-3">
                                        <div class="wrap">
                                            <div class="inner">
                                                <div id="canvas-hours" class="clock-canvas"></div>

                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="type-hours type-time">HORAS</p>
                                                </div><!-- /.text -->
                                            </div><!-- /.inner -->
                                        </div><!-- /.wrap -->
                                    </div><!-- /.clock-item -->

                                    <div class="clock-item clock-minutes countdown-time-value col-sm-3">
                                        <div class="wrap">
                                            <div class="inner">
                                                <div id="canvas-minutes" class="clock-canvas"></div>

                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="type-minutes type-time">MINUTOS</p>
                                                </div><!-- /.text -->
                                            </div><!-- /.inner -->
                                        </div><!-- /.wrap -->
                                    </div><!-- /.clock-item -->

                                    <div class="clock-item clock-seconds countdown-time-value col-sm-3">
                                        <div class="wrap">
                                            <div class="inner">
                                                <div id="canvas-seconds" class="clock-canvas"></div>

                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="type-seconds type-time">SEGUNDOS</p>
                                                </div><!-- /.text -->
                                            </div><!-- /.inner -->
                                        </div><!-- /.wrap -->
                                    </div><!-- /.clock-item -->
                                </div><!-- /.clock -->
                            </div><!-- /.countdown-wrapper -->

                        </div><!-- /.caption -->
                    </li>
                </ul><!-- /.revolution -->
           </div>        
        </div>
    </div><!-- /.header -->
</div><!-- /.header-wrapper -->



<div id="nav-subscribe" class="subscribe-wrapper">
    <div class="subscribe">
        <div class="container">
            <div class="form row">
                <div class="col-sm-8 col-sm-offset-2 subscribe-background">
                    <h4>Suscríbete y te enviaremos más información</h4>

                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <form id="formSubscribers">
                                <div>
                                    <input type="email" class="subscription-field" name="subscriber" placeholder="Tu e-mail" required="required">

                                    <button>
                                        <span class="icon-normal-right-arrow-small"></span>
                                    </button>
                                </div>
                            </form>

                            <div class="success">
                                <p>
                                    Gracias por tu interés.<br>
                                    <i class="icon icon-normal-heart-rounded"></i>
                                </p>
                            </div><!-- /.success -->
                        </div><!-- /.span6 -->
                    </div><!-- /.row -->
                </div><!-- /.span8 -->
            </div><!-- /.form -->
        </div><!-- /.container -->
    </div><!-- /.subscribe -->
</div><!-- /.subscribe-wrapper -->

<div id="nav-features" class="features-wrapper">
    <div class="features">
        <div class="features-inner container">
            <div class="row">

                <div class="item yellow col-sm-4">
                    <div class="row">
                        <div class="wrapper-icon col-sm-3">
                            <div class="background-icon">
                                <i class="icon icon-outline-cup-coffee"></i>
                            </div><!-- /.background-icon -->
                        </div><!-- /.wrapper-icon -->

                        <div class="text-wrapper col-sm-9">
                            <h3>Desayuna</br>con nosotros</h3>

                            <p class="features-description">
                                Conversemos y disfrutemos antes de la gran jornada
                            </p>
                        </div><!-- /.text-wrapper -->
                    </div><!-- /.row -->
                </div><!-- /.item -->

                <div class="item orange col-sm-4">
                    <div class="row">
                        <div class="wrapper-icon col-sm-3">
							<div class="background-icon">
								<i class="icon icon-outline-wizard-wand"></i>
                            </div><!-- /.background-icon -->
                        </div><!-- /.wrapper-icon -->

                        <div class="text-wrapper col-sm-9 pull-right">
                            <h3>Demostraciones</br>en vivo</h3>

                            <p class="features-description">
                                Aprecie lo último en magia tecnológica
                            </p>
                        </div><!-- /.text-wrapper -->
                    </div><!-- /.row -->
                </div><!-- /.item -->

                <div class="item blue col-sm-4">
                    <div class="row">
                        <div class="wrapper-icon col-sm-3 ">
							<div class="background-icon">
								<i class="icon icon-outline-clock"></i>
                            </div><!-- /.background-icon -->
                        </div><!-- /.wrapper-icon -->

                        <div class="text-wrapper col-sm-9">
                            <h3>8 horas de presentaciones</h3>

                            <p class="features-description">Vibrantes presentaciones proyectos, comunidades, empresas y Estado </p>
                        </div><!-- /.text-wrapper -->
                    </div><!-- /.row -->
                </div><!-- /.item -->


            </div><!-- /.row -->
        </div><!-- /.features-inner -->
    </div><!-- /.features -->
</div><!-- /.features-wrapper -->

<div id="nav-speakers" class="speakers-wrapper">
    <div class="container">
        <h2>Geniales speakers hablando sobre geniales proyectos.</h2>
        <h4>Hemos asegurado un menú variado</h4>

        <div class="speakers">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-1" data-toggle="tab">Auditorio de Fac. de Administración - UNMSM</a></li>
                <!--<li><a href="#tab-2" data-toggle="tab">Hall B</a></li>-->
            </ul>

            <div class="tab-content">

                <div class="tab-pane fade active in" id="tab-1">

                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-1.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">¿?</p>
                            <p class="talk-title">#ignite: Presentación sorpresa</p>
                            <p class="time"><span class="time-start">09:45</span> - 10:00</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
							<div class="about">
								<h4>Sobre el ponente Anonymous</h4>

								<p>
                                    Sólo diremos que no quiere ser conocido hasta el día de la presentación.
                                </p>
							</div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->


                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="img/speakers/speaker-astuvilca.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">Juan Astuvilca</p>
                            <p class="company">Fundador de Social Startup</p>
                            <p class="talk-title">¿Cómo construir un dron con material reciclado?</p>
                            <p class="time"><span class="time-start">10:00</span> - 10:40</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
							<div class="about">
								<h4>Sobre Juan Astuvilca</h4>

								<p>
                                    Fundador de la comunidad Social Startup, actualmente se desempeña desarrollando drones.
                                </p>
							</div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->


                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">Mariana Checa</p>
                            <p class="company">Laboratoria</p>
                            <p class="talk-title">#Comunidad: Laboratoria, emprendimiento social</p>
                            <p class="time"><span class="time-start">10:40</span> - 11:10</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
							<div class="about">
								<h4>Sobre Mariana Checa</h4>

								<p>
                                    Fundadora de laboratoria, que enfoca la oportunidad de la tecnología para mujeres jóvenes de bajos recursos.
                                </p>
							</div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->

                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">Ponente secreto</p>
                            <p class="company">FISI - UNMSM</p>
                            <p class="talk-title">#Proyecto: Domótica para el mundo</p>
                            <p class="time"><span class="time-start">11:10</span> - 11:50</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
                            <div class="about">
                                <h4>Sobre nuestro ponente secreto</h4>

                                <p>
                                    Actual estudiante de Ing. de Sistemas de la FISI - UNMSM.
                                </p>
                            </div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->

                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">Álvaro Echevarría</p>
                            <p class="company">CIE - UNMSM</p>
                            <p class="talk-title">#Incubadora: CIE, emprendimiento universitario</p>
                            <p class="time"><span class="time-start">11:50</span> - 12:20</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
                            <div class="about">
                                <h4>Sobre Álvaro Echevarría</h4>

                                <p>
                                    Coordinador E-quipu UNMSM y Coordinador de la Incubación Empresarial en Centro de Innovación y Emprendimiento at Universidad Nacional Mayor de San Marcos
                                </p>
                            </div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->

                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">Renzo Arauco</p>
                            <p class="company">Lima I/O</p>
                            <p class="talk-title">#Proyecto: Lima I/O</p>
                            <p class="time"><span class="time-start">12:20</span> - 1:00</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
                            <div class="about">
                                <h4>Sobre Renzo Arauco</h4>

                                <p>
                                    Integrante de Lima I/O
                                </p>
                            </div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->

                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">Jonathan Nolasco</p>
                            <p class="company">StartupPlace</p>
                            <p class="talk-title">#Ignite: Tacher</p>
                            <p class="time"><span class="time-start">1:00</span> - 1:20</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
                            <div class="about">
                                <h4>Sobre Jonathan Nolasco</h4>

                                <p>
                                    Presidente de StartupPlace
                                </p>
                            </div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->

                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">Dante Vidal</p>
                            <p class="company">Knawer Inc.</p>
                            <p class="talk-title">#Ignite: Knawer, la red social donde todos ganan</p>
                            <p class="time"><span class="time-start">2:30</span> - 2:40</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
                            <div class="about">
                                <h4>Sobre Dante Vidal</h4>

                                <p>
                                    Fundador de Knawer.
                                </p>
                            </div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->

                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">¿?</p>
                            <p class="company">--</p>
                            <p class="talk-title">#Proyecto: ¿Cómo construir tu propio robot sumo?</p>
                            <p class="time"><span class="time-start">2:40</span> - 3:10</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
                            <div class="about">
                                <h4>Sobre ¿?</h4>

                                <p>
                                    Estamos recolectando información.
                                </p>
                            </div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->

                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">Álvaro Concha</p>
                            <p class="company">Hackspace</p>
                            <p class="talk-title">#Comunidad: Hackspace, makers over thinkers</p>
                            <p class="time"><span class="time-start">3:10</span> - 3:40</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
                            <div class="about">
                                <h4>Sobre Álvaro Concha</h4>

                                <p>
                                    Integrante de Hackspace y FabLab UNI.
                                </p>
                            </div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->

                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">George Mejía</p>
                            <p class="company">Okupa</p>
                            <p class="talk-title">#Hub: Creamos experiencias para productos disruptivos</p>
                            <p class="time"><span class="time-start">3:40</span> - 4:10</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
                            <div class="about">
                                <h4>Sobre George Mejía</h4>

                                <p>
                                    Integrante del equipo creador de Okupa y cofundador de StartupPlace.
                                </p>
                            </div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->

                    <div class="row speaker">
                        <div class="col-sm-2">
                            <div class="outer-border item">
                                <div class="middle-border">
                                    <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                                </div>
                            </div>
                        </div><!-- /.col-md-2 -->

                        <div class="col-sm-7">
                            <p class="name">Michael Hurtado</p>
                            <p class="company">Lima Makers</p>
                            <p class="talk-title">#Compañía: Creando productos novedosos desde una gran corporación</p>
                            <p class="time"><span class="time-start">4:10</span> - 4:40</p>
                        </div><!-- /.col-md-7 -->

                        <hr>

                        <div class="col-sm-3">
                            <div class="about">
                                <h4>Sobre Michael Hurtado</h4>

                                <p>
                                    Integrante del área de investigación de Lima Makers.
                                </p>
                            </div><!-- /.about -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.speaker -->
                </div><!-- /.tab-1 -->
            </div><!-- /.tab-content -->
        </div><!-- /.speakers -->
    </div><!-- /.container -->
</div><!-- /.speakers-wrapper -->

<div class="parallax-wrapper parallax-first">
	<div class="parallax">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="span12">
						<span class="parallax-title">Wherever you are, <br> be all there</span>
					</div><!-- /.span12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.inner -->
	</div><!-- /.parallax -->
</div><!-- /.parallax-wrapper -->

<div class="content-wrapper">
    <div class="content">
        <div class="content-inner">
			<div class="container">
				<div class="cycle-slideshow-fade">
					<div class="cycle-pager"></div>

                    <div class="slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="assets/pictures/4.jpg" alt="">
                                        </div>
                                    </div>
                                </div><!-- /.image-box -->

                                <div class="col-sm-7">
                                    <h2 class="">Why you should come to NWX?</h2>
                                    <h4 class="">And what will be waiting for you there</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus
                                        lectus, cursus et tincidunt eu, iaculis vel tellus. Integer nibh metus, tempor in
                                        vulputate in, mollis vitae libero. Nunc sit amet fermentum ante. Nullam facilisis
                                        metus quis nunc rhoncus fringilla. Donec nec nisl nisl, vel tincidunt urna. Donec
                                        erat erat, suscipit vitae tristique non, posuere nec mi. In faucibus lobortis
                                        pharetra.
                                    </p>
                                </div><!-- /.span7 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.slide -->
						
                    <div class="slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="assets/pictures/2.jpg" alt="">
                                        </div>
                                    </div>
                                </div><!-- /.image-box -->

                                <div class="col-sm-7">
                                    <h2 class="">Visit the best speakers in the industry</h2>
                                    <h4 class="">And what will be waiting for you there</h4>

                                    <p>
                                        Maecenas lobortis ligula nibh, aliquam fringilla ipsum interdum non. Suspendisse aliquet nisl eu quam fermentum, lobortis ullamcorper velit facilisis. Sed elementum eu nibh nec ornare. Morbi a adipiscing ante. Donec metus odio, dapibus vitae arcu eget, iaculis consectetur leo. Morbi non nunc in erat dignissim euismod. Sed vehicula purus eu eros pulvinar tincidunt.
                                    </p>
                                </div><!-- /.span7 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.slide -->

                    <div class="slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="assets/pictures/3.jpg" alt="">
                                        </div>
                                    </div>
                                </div><!-- /.image-box -->

                                <div class="col-sm-7">
                                    <h2 class="">Find new connections for your business</h2>
                                    <h4 class="">And what will be waiting for you there</h4>

                                    <p>
                                        Donec aliquam scelerisque risus nec commodo. Curabitur consectetur ac erat ac porttitor. Nulla nunc magna, vehicula ut risus eu, pharetra tincidunt velit. Sed ullamcorper massa eros, nec congue eros aliquet at. Quisque neque arcu, fermentum eu elementum et, viverra a lacus. Integer vel nisi malesuada, auctor augue et, sodales arcu.
                                    </p>
                                </div><!-- /.span7 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.slide -->

                    <div class="slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="assets/pictures/1.jpg" alt="">
                                        </div>
                                    </div>
                                </div><!-- /.image-box -->

                                <div class="col-sm-7">
                                    <h2 class="">Find new connections for your business</h2>
                                    <h4 class="">And what will be waiting for you there</h4>

                                    <p>
                                        Maecenas mattis lectus eu nulla convallis consequat. Ut arcu ipsum, placerat et consequat quis, gravida id metus. Nunc nec augue accumsan, vehicula diam in, feugiat est. In hendrerit urna non posuere gravida. In volutpat tellus sapien, a bibendum nisl vulputate sit amet. Aenean eu mauris a nibh sodales pretium eget sollicitudin sapien.
                                    </p>
                                </div><!-- /.span7 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.slide -->

				</div><!-- ./cycle-slideshow-fade -->
			</div><!-- /.container -->
		</div><!-- /.content-inner -->
    </div><!-- /.content -->
</div><!-- /.content-wrapper -->

<div id="nav-pricing" class="pricing-wrapper">
    <div class="pricing">
        <div class="pricing-inner">
			<div class="container has-options">
				<h2>Buy your ticket now and save a lot of money!</h2>
				<h4>Precisely choosed big names from whole world</h4>
				
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab-1-pricing">
						<div class="container">
							<div class="row">


								<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
									<div class="circle">
										<div class="content best-offer">
											<p class="price">0.00<sup>S/.</sup></p>

											<ul class="span3">
												<li>Entrada</li>
												<li>Desayuno emprendedor</li>
												<li>Parqueo</li>
											</ul>

											<a class="btn btn-buy" href="http://www.joinnus.com/activity/1292" target="_blank">Obtén tu ticket</a>
										</div><!-- /.content -->
									</div><!-- /.circle -->
								</div><!-- /.circle-2 -->


							</div><!-- /.row -->
						</div><!-- /.container -->
					</div><!-- /.tab-1 -->
					

				</div>
			</div>
        </div><!-- /.pricing-inner -->
    </div>
</div><!-- /.pricing-wrapper -->

<div class="parallax-wrapper parallax-second">
	<div class="parallax">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 clearfix">
						<span class="parallax-title">Lo que antes fue Startup Week University</span>
                        <br>

                        <iframe src="//player.vimeo.com/video/112990430" width="1280" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div><!-- /.span12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.inner -->
	</div><!-- /.parallax -->
</div><!-- /.parallax-wrapper -->

<div id="nav-testimonials" class="testimonials-wrapper">
    <div class="testimonials">
		<div class="container">
		    <h2>What other said about NWX Conference?</h2>

			<div class="cycle-slideshow-vertical" data-cycle-swipe="true">

                <div class="slide">
                    <div class="testimonials-inner">
                        <div class="outer-border item">
                            <img src="assets/pictures/speakers-1.jpg" class="img-circle inner-border">
                        </div>
                        <blockquote class="col-md-6 item">
                            <p>
                                There's a voice that keeps on calling me. Down the road, that's where I'll
                                always be. Every stop I make, I make a new friend. Can't stay for long, just
                                turn around and I'm gone again.
                            </p>
                        <small>Eduar Jones</small>
                        </blockquote>
                    </div>
                </div>

                <div class="slide">
                    <div class="testimonials-inner">
                        <div class="outer-border item">
                            <img src="assets/pictures/speakers-2.jpg" class="img-circle inner-border">
                        </div>
                        <blockquote class="col-md-6 item">
                            <p>
                                There's a voice that keeps on calling me. Down the road, that's where I'll
                                always be. Every stop I make, I make a new friend. Can't stay for long, just
                                turn around and I'm gone again.
                            </p>
                            <small>Eduar Jones</small>
                        </blockquote>
                    </div>
                </div>

			</div><!-- /.cycle-slideshow-vertical -->

            <div class="cycle-pager cycle-vertical-pager"></div>
		</div><!-- /.container -->
    </div><!-- /.testimonials -->
</div><!-- /.testimonials-wrapper -->

<hr>

<div class="our-partners-wrapper">
    <div class="our-partners container">
        <div class="our-partners-inner">
            <h2>Nuestros media partners</h2>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-3 col-xs-6 center">
                    <a href="http://themeforest.net/"><img class="our-partners-logo" src="img/mediapartners/initec_logo.png" height="200px" alt=""></a>
                </div><!-- /.span3 -->

                <div class="col-sm-3 col-xs-6 center">
                    <a href="http://graphicriver.net/"><img class="our-partners-logo" src="img/mediapartners/ptm_logo.png" height="200px" alt=""></a>
                </div><!-- /.span3 -->
            </div><!-- /.row -->
        </div><!-- /.our-partners-inner -->
    </div><!-- /.our-partners -->
</div><!-- /.our-partners-wrapper -->

<div class="parallax-wrapper parallax-third">
	<div class="parallax">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="span12">
						<span class="parallax-title">Te esperamos!</span>
					</div><!-- /.span12 -->
				</div><!-- /.row-->
			</div><!-- /.container -->
		</div><!-- /.inner -->
	</div><!-- /.parallax -->
</div><!-- /.parallax-wrapper -->

<div id="nav-contact" class="footer-wrapper">
    <div class="footer container">
        <div class="footer-inner">
            <div class="row">
                <div class="item col-md-5">
                    <h2>Contáctanos</h2>

                    <address>
                        <div class="icon icon-normal-pointer"></div>
                        <div class="address-content">
                            <span class="title"><strong>Universidad Nacional Mayor de San Marcos</strong></span>
                            <p>Auditorio de la Facultad de Administración</p>
                        </div>
                    </address>

                    <address>
                        <div class="icon icon-normal-mail"></div>
                        <div class="address-content">
                            <a href="mailto:#" class="e-mail">contacto@startupplace.org</a>
                        </div>
                        <br>

                        <div class="icon icon-normal-phone"></div>
                        <div class="address-content">
                            <span class="title">(RPC) 989090617</span>
                        </div>
                    </address>

                    <address>
                        <div class="icon icon-normal-map-pointer"></div>
                        <div class="address-content">
                            <a class="btn btn-grey">Ver en Google maps</a>
                        </div>
                    </address>
                </div><!-- /.item -->

                <div id="div-formulario" class="item col-md-7">
                    <h2>Si tienes alguna sugerencia, idea, queja o predicción déjanos una nota</h2>
                    <div class="successForm">
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" onclick="$('.alert').hide()">x</button>
                            <strong>Gracias!</strong> Pronto nos comunicaremos contigo.
                        </div>
                    </div>

                    <div class="errorForm">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" onclick="$('.alert').hide()">x</button>
                            <strong>Uy!</strong> Hubo un problema, vuelva a intentarlo en otro momento.
                        </div>
                    </div>

                    <form id="formMessage" class="contact-form footer-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" name="name" placeholder="Tu nombre" required="required">
                                        <span class="icon icon-normal-profile-male"></span>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->
                            </div><!-- /.span4 -->

                            <div class="col-sm-6">
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="email" name="email" placeholder="Tu e-mail" required="required">
                                        <span class="icon icon-normal-mail"></span>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->
                            </div><!-- /.span4 -->
                        </div><!-- /.row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <textarea name="message" placeholder="Tu mensaje" required="required"></textarea>
                                        <span class="icon icon-normal-pencil"></span>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->
                            </div><!-- /.span8 -->
                        </div><!-- /.row -->

                        <div class="form-actions">
                            <input type="submit" class="btn btn-send col-md-3" value="Enviar">
                        </div><!-- /.form-actions -->
                    </form><!-- /.footer-form -->
                </div><!-- /.item -->
            </div><!-- /.row -->
        </div><!-- /.footer-inner -->
    </div><!-- /.footer -->

    <div class="result"></div>

    <div id="map"></div><!-- /#map -->

    <div class="footer-bottom">
        <div class="container">
            <div class="row footer-bottom-wrapper">
                <div class="copyright left">
                    &copy; 2014 Derechos reservados por <a href="http://startupplace.org" class="">StartupPlace</a>
                </div><!-- /.copyright -->

                <div class="icons right">
                    <a href="https://twitter.com/StartupPlace" class="social-icon"><img src="assets/icons/icon-twitter.png" alt=""></a>
                    <a href="https://www.facebook.com/StartupPlace" class="social-icon"><img src="assets/icons/icon-facebook.png" alt=""></a>
                    <a href="https://www.youtube.com/user/startupplace/videos" class="social-icon"><img src="assets/icons/icon-youtube.png" alt=""></a>
                </div><!-- /.icons -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer bottom -->
</div><!-- /.footer-wrapper -->


<script type="text/javascript" src="assets/js/retina.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script type="text/javascript" src="assets/js/kinetic.js"></script>
<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/placeholder.js"></script>
<script type="text/javascript" src="assets/js/jquery.final-countdown.js"></script>
<script type="text/javascript" src="assets/js/jquery.cycle2.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.cycle2.carousel.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.cycle2.center.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.cycle2.scrollVert.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.cycle2.swipe.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.cycle2.caption2.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.parallax-1.1.3.js"></script>

<script type="text/javascript" src="assets/js/jquery.localscroll-1.2.7-min.js"></script>

<script type="text/javascript" src="assets/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="assets/fancybox/helpers/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="assets/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="assets/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src="assets/js/bootstrap/collapse.js"></script>
<script type="text/javascript" src="assets/js/bootstrap/dropdown.js"></script>
<script type="text/javascript" src="assets/js/bootstrap/tab.js"></script>
<script type="text/javascript" src="assets/js/bootstrap/transition.js"></script>
<script type="text/javascript" src="assets/js/bootstrap/scrollspy.js"></script>

<script type="text/javascript" src="assets/js/infine.js"></script>


<script>
    // Attach a submit handler to the form
    $( "#formMessage" ).submit(function( event ) {

        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var $form = $( this ),
                nameText = $form.find( "input[name='name']" ).val(),
                emailText = $form.find( "input[name='email']" ).val(),
                messageText = $form.find( "textarea[name='message']" ).val();


        var data ={
            'name' : nameText,
            'email' : emailText,
            'message': messageText
        }


        $.ajax({
            type: 'POST',
            url: '/messages',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function(){
                $(".errorForm").hide();
                $(".successForm").show();

                $("#div-formulario").find('form')[0].reset();
            },
            error: function(){
                $(".successForm").hide();
                $(".errorForm").show();
            }
        });

   });
</script>

<script>
    // Attach a submit handler to the form
    $( "#formSubscribers" ).submit(function( event ) {

        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var $form = $( this ),
                subscriberText = $form.find( "input[name='subscriber']" ).val();

        var data ={
            'subscriber' : subscriberText
        }


        $.ajax({
            type: 'POST',
            url: '/subscribers',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function(){
                $(".success").show()
             }
        });
    });
</script>

</body>
</html>
