.successForm { display: none;
}

.errorForm { display: none;
}

.cta{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #6fb871;
  color: rgba(255,255,255,0.8);
  font-family: "Open Sans","Arial",sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
  outline: none;
  padding: 10px 40px;
  position: relative;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  border: none;
}

.cta:hover {
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.2);
  color: #fff;
}

.cta.fixed{
  position: fixed;
  right: 200px;
  top: 100px;
  z-index: 9999;
}
